/* Unicolor footer text */
/*Top selling Emilie */
@font-face {
    font-family: 'PoliceTitre';
    src: url('assets/font/Nau Sea.otf');
}
@font-face {
    font-family: 'PoliceTexte';
    src: url('assets/font/TarponMotel.ttf');
}

#conteneur
{
	display: flex;
}
h2
{
	font-family: 'PoliceTitre';
	text-align: center;
	font-size: 4em;
	color:#003EC2;
}
h5
{
	font-family: 'PoliceTitre';
	text-align: center;
	font-size: 2em;
}

.accroche
{
	font-family: 'PoliceTexte';
	text-align: center;
	font-size: 2em;
}
.card-text
{
	font-family: 'PoliceTexte';
	text-align: center;
	font-size: 1em;
}
.card-footer
{
	font-family: 'PoliceTexte';
	font-size: 2em;
}

.card
{

  box-shadow: 2px 1px 12px #555;  
}
/*FOOTER REMY*/
#contact{

    text-align:center;
    color: white;
    font-size:2em;
    padding-left: 10%;
}


label {

    color:white;
}

#visitcard a {
color:white;
}

/* Contact form screen < md */

@media(max-width:991.98px){
    #footcontact{
        display:none;
    }
}

/*//////////////////////////////////////////////////NAVBAR VALENTIN//////////////////////////////////////////////////*/

/* barre separant les categories navbar */
.barre {
    justify-content: center;
    padding-top: 0.6em;
    color: white;
    
}

/* enleve les couleurs de bases bleu/violet des liens */
a {
    color: inherit;
}

/* couleur de fond*/
.bg_nav {
    background-color: #222831;
}

/*couleur de fond test carousel*/
.bg_carousel {
    background-color: #222831;
}
/* fixe la police et couleur des categories navbar*/
.nav_font {
    font-family: 'PoliceTitre';
    font-size: 1.4em;
    color: #00ADB5;
}

.nav_font:hover {
    text-decoration: underline;
    text-decoration-color: white;
    
}

hr {
    color:#00ADB5;
    border: solid 2px #00ADB5;
    width: 50%;
}
.font_white {
    color: white;
}
.font_bleu {
    color: #00ADB5;
}

/* decale les morceaux 'categories' pour les centrer avec le logo*/
.navbar_position {
    padding-top: 12%;
}

/* Carousel OMAR*/
.card-text{
    color: grey;
    font-size: 15px;
}
.card-body{
    background-color: #2A2C2C;
}
/* ABOUT US - Elliot */
.about_title
{
    text-decoration: underline;
}
.about_logo
{
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}
.about_citation
{
    float: right;
    font-style: italic;
    margin-right: 3%;
}

/* taille image */

#logobot {
    width: 10em;
    height:10em;
}

.element_adresse {
    padding-bottom: 7em;
    padding-left: 2em;
}

@mediascreen(max-width:991.98px){
    .element_adresse{

    }
}