/* Unicolor footer text */
/*Top selling Emilie */
@font-face {
    font-family: 'PoliceTitre';
    src: url('assets/font/Nau Sea.otf');
}
@font-face {
    font-family: 'PoliceTexte';
    src: url('assets/font/TarponMotel.ttf');
}

#conteneur
{
	display: flex;
}
h2
{
	font-family: 'PoliceTitre';
	text-align: center;
	font-size: 4em;
	color:#003EC2;
}
h5
{
	font-family: 'PoliceTitre';
	text-align: center;
	font-size: 2em;
}

.accroche
{
	font-family: 'PoliceTexte';
	text-align: center;
	font-size: 2em;
}
.card-text
{
	font-family: 'PoliceTexte';
	text-align: center;
	font-size: 1em;
}
.card-footer
{
	font-family: 'PoliceTexte';
	font-size: 2em;
}

.card
{

  box-shadow: 2px 1px 12px #555;  
}
/*FOOTER REMY*/
#contact{

    text-align:center;
    color: white;
    font-size:2em;
    padding-left: 10%;
}
.nav .nav-item .nav-link {

    color:white !important;
}

label {

    color:white;
}

nav{


background-color:#9F928C;

}

/* Contact form screen < md */

@media(max-width:991.98px){
    #footcontact{
        display:none;
    }
}

/*NAVBAR VALENTIN*/

.barre {
    justify-content: center;
	padding-top: 10px;
}

a {
    color: inherit;
}

.tag_navbar {
    position: relative;
    top: 0.5em;
    right: 2em;
}


.bg_test {
    background-color: grey;
}

