/* Unicolor footer text */
/*Top selling Emilie */

@font-face {
    font-family: 'PoliceTitre';
    src: url('assets/font/Nau Sea.otf');
}
@font-face {
    font-family: 'PoliceTexte';
    src: url('assets/font/TarponMotel.ttf');
}

#conteneur
{
    display: flex;
    color: inherit;
}
h2
{
    font-family: 'PoliceTitre';
    text-align: center;
    font-size: 4em;
    color:#00ADB5;
}
h5
{
    font-family: 'PoliceTitre';
    text-align: center;
    font-size: 2em;
}

.accroche
{
    font-family: 'PoliceTexte';
    text-align: center;
    font-size: 2em;
}
.card-text
{
    font-family: 'PoliceTexte';
    text-align: center;
    font-size: 1em;
}
.card-footer
{
    font-family: 'PoliceTexte';
    font-size: 1.4em;
    background-color: #EEEEEE;
}
.card-body.emi
{
    background-color: white;
}

.card, .container, .card-footer
{
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.add-to-cart
{
    border-radius: 10px;
    background-color: #393E46;
    color:#00ADB5;
}
.quantiteEmi
{
    color:#00ADB5;
}
#qt
{
    font-size: 0.7em;
    background-color: #EEEEEE;
}
.container.mt-4.emi
{
    padding-bottom: 11px;
}

/*FOOTER REMY*/
#contact{

    text-align:center;
    color: white;
    font-size:2em;
    padding-left: 10%;
}


label {

    color:white;
}

#visitcard a {
color:white;
}

/* Contact form screen < md */

@media(max-width:991.98px){
    #footcontact{
        display:none;
    }
}

/*//////////////////////////////////////////////////NAVBAR VALENTIN//////////////////////////////////////////////////*/

/* barre separant les categories navbar */
.barre {
    justify-content: center;
    padding-top: 0.6em;
    color: white;
    
}

/* enleve les couleurs de bases bleu/violet des liens */
a {
    color: inherit;
}

/* couleur de fond*/
.bg_nav {
    background-color: #222831;
}

/*couleur de fond test carousel*/
.bg_carousel {
    background-color: #222831;
}
/* fixe la police et couleur des categories navbar*/
.nav_font {
    font-family: 'PoliceTitre';
    font-size: 1.4em;
    color: #00ADB5;
}

.nav_font:hover {
    text-decoration: underline;
    text-decoration-color: white;
    
}

hr {
    color:#00ADB5;
    border: solid 2px #00ADB5;
    width: 50%;
}
.font_white {
    color: white;
}
.font_bleu {
    color: #00ADB5;
}

/* decale les morceaux 'categories' pour les centrer avec le logo*/
.navbar_position {
    padding-top: 12%;
}

/* Carousel OMAR*/
.card-text{
    color: grey;
    font-size: 15px;
}
.card-body{
    background-color: #2A2C2C;
}
/* ABOUT US - Elliot */

.about_logo
{
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}
blockquote
{
  font-style: normal;
  font-size: 1em;
  margin-left: 50%;
  font-family: Consolas, "PoliceTexte";
  border-left: 4px solid #00ADB5;
  padding-left: 8px;
}
.about
{
    font-family: 'PoliceTexte'
}
.sousTitre
{
    font-family: 'PoliceTexte';
    font-size: 1em;
    padding-top: 3%;
    padding-bottom: 0.1em;
    font-weight: bold;

}

/* taille image footer */
@media(max-width:991.98px){
    #logobot {
    width: 10em;
    height:10em;
    margin-left: 5%;
    pad
    
    }


.element_adresse {
    padding-bottom: 7em;
    padding-left : 2em;
    padding-top: -2em;
}

#footcontact{
    text-align:center;
}
}

#logobot {
    width:7em;
    height: 7em;
    
  

}
#logobot {
    width: 10em;
    height:10em;
    margin-left: 5%;
   
    
    }


.element_adresse {
    padding-bottom: 7em;
    padding-left : 2em;
    padding-top: -2em;
}

#footcontact{
    text-align:center;
}
#adressmarkup {
  
    margin-left: -15%;
}

#navfooter {
    padding: 0 !important;
    
}

button {

    font-family: 'PoliceTitre';
    text-align: center;
    font-size: 2em; 
}

@media(max-width:991.98px){
    #logomarkup{
        display:none;
    }

}