/* Unicolor footer text */
/*Top selling Emilie */

@font-face {
    font-family: 'PoliceTitre';
    src: url('assets/font/Nau Sea.otf');
}
@font-face {
    font-family: 'PoliceTexte';
    src: url('assets/font/TarponMotel.ttf');
}

#conteneur
{
    display: flex;
}
h2
{
    font-family: 'PoliceTitre';
    text-align: center;
    font-size: 4em;
    color:#00ADB5;
}
h5
{
    font-family: 'PoliceTitre';
    text-align: center;
    font-size: 2em;
}

.accroche
{
    font-family: 'PoliceTexte';
    text-align: center;
    font-size: 2em;
}
.card-text
{
    font-family: 'PoliceTexte';
    text-align: center;
    font-size: 1em;
}
.card-footer
{
    font-family: 'PoliceTexte';
    font-size: 1.4em;
    background-color: #EEEEEE;
}
.card-body.emi
{
    background-color: white;
}

.card, .container, .card-footer
{
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}
.add-to-cart
{
    border-radius: 10px;
    background-color: #393E46;
    color:#00ADB5;
}
.quantiteEmi
{
    color:#00ADB5;
}
#qt
{
    font-size: 0.7em;
    background-color: #EEEEEE;
}
.container.mt-4.emi
{
    padding-bottom: 11px;
}

/*FOOTER REMY*/
#contact{

    text-align:center;
    color: white;
    font-size:2em;
    padding-left: 10%;
}
.nav .nav-item .nav-link {

    color:white !important;
}

label {

    color:white;
}

nav{


background-color:#9F928C;

}

/* Contact form screen < md */

@media(max-width:991.98px){
    #footcontact{
        display:none;
    }
}

/*NAVBAR VALENTIN*/

.barre {
    justify-content: center;
	padding-top: 10px;
}

a {
    color: inherit;
}

.tag_navbar {
    position: relative;
    top: 0.5em;
    right: 2em;
}


.bg_test {
    background-color: grey;
}

.nav_font {
    font-family: 'PoliceTitre';
    font-size: 1.4em;
}

/* Carousel OMAR*/
.card-text{
    color: grey;
    font-size: 15px;
}
.card-body{
    background-color: #2A2C2C;
}
/* ABOUT US - Elliot */

.about_logo
{
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}
blockquote
{
  font-style: normal;
  font-size: 1em;
  margin-left: 50%;
  font-family: Consolas, "PoliceTexte";
  border-left: 4px solid #00ADB5;
  padding-left: 8px;
}
.about
{
    font-family: 'PoliceTexte'
}
.sousTitre
{
    font-family: 'PoliceTexte';
    font-size: 1em;
    padding-top: 3%;
    padding-bottom: 0.1em;
    font-weight: bold;

}
