* {
    margin: 0;
    padding: 0;
}
.header{margin-top:10px;}
.phone-no{ float:right; font-family:myriad pro;}
.book-online{ font-size:12px;font-family:myriad pro; padding-left:36px; }
.phone-no h3{    margin-top: 2px;
    color: #9e0b0f;
    background: url(../image/telephone.png)no-repeat;
    padding-left: 36px;}
    .payment-info{background:#00ADB5;padding: 13px 0;}
    .payment-info h5{margin:0;padding-left:15px;color:#fff;font-size: 16px;}
    .payment-methodcard{padding: 5px 10px;}
    .star{ color:#00ADB5;}
    .payment-method{ padding-left:15px;}
    .payment-method{font: italic 700 14px/29px "myriad pro";margin: 0;padding: 0px 0;}} 
   
    .visa select{ width:100%; font:italic 400 15px/20px "myriad pro";}
    .card-1{ float:left; margin-right:4px;}
    .payment-wrapper {
    border: 1px solid #e3e3e3;
    padding-bottom: 10px;
}
.payment-wrapper .text-control{ height:33px;}
.card-number span{ font-size:13px;}

.Month-cntrl select{ width:45%; margin-right:10px; float:left;}
.otp{
    background: url(../image/card.jpg)no-repeat right center;
    background-position: 84% 0;
    height: 27px;
}
.Acceptance{ text-decoration:underline; font-size:12px; margin-right:20px;}
.icon-class{ padding-right:10px;}
.norton{float:right;position: absolute;right: 12px;bottom: -7px;}
.norton-payment{ position:relative; padding-bottom:0;} 
.billig{ margin-top:20px;}
.adress input{ margin-bottom:15px;}

.payment-wrapper{
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
margin-top: 0.5em;
}
.col-lg-6.col-md-6.col-sm-6.col-xs-12
{
    padding-left: 70px;
}



@font-face {
    font-family: 'PoliceTitre';
    src: url('assets/font/Nau Sea.otf');
}
@font-face {
    font-family: 'PoliceTexte';
    src: url('assets/font/Hind-Light.ttf');
}

.barre {
    justify-content: center;
    padding-top: 0.6em;
    color: #00ADB5;
    
}

.logo {
    padding-top: 1.2em;
    padding-bottom: 0.9em;
}
/* couleur bouton burger */
.btn_nav {
   
    opacity:0.6 ;
    
    border: solid;
    text-decoration: #00ADB5;
}

/* Defini la couleur du bouton search*/
.btn_search {
    outline-color: #00ADB5;
    color: black;
    font-family: 'PoliceTitre';
}

.btn_search:hover {
    text-decoration: underline;
    text-decoration-color: #00ADB5;
}
/* enleve les couleurs de bases bleu/violet des liens */
.navbar_position a {
    color: inherit;
}

/*Fixe la couleur sur le nom du logo*/
.brand_name {
    color:black !important;
}

/*supprime le logo en version mobile*/
@media(max-width:991.98px){
    .barre {
        display:none;
    }
    .logo {
        height: 70%;
        width: 70%;
    }
    
}

/* couleur de fond*/
.bg_nav {
    background-color: white;
}

/*couleur de fond test carousel*/
.bg_carousel {
    background-color:white;
}
/* fixe la police et couleur des categories navbar*/
.nav_font {
    font-family: 'PoliceTitre';
    font-size: 1.2em;
    color: black !important;
}

.title_police, .about_title, .Top.Selling, .nav-link {
    font-family: 'PoliceTitre';
    color : black;
    text-shadow : 2px 2px 5px #aaa;
}

.police_about_us {
    color: black;
    padding-bottom: 0.7em;
}

.nav_font:hover {
    text-decoration: underline;
    text-decoration-color: #00ADB5;
    
}

.ligneHaut {
    border-bottom: solid 2px #00ADB5;
    width: 50%;
    margin-left: 25%;
}

.ligneBas {
    border-top: solid 2px #00ADB5;
    width: 50%;
    margin-left: 25%;
}
.font_white {
    color:#00ADB5;
    font-family: 'PoliceTexte';
    font-size: 1.6em;
    padding-bottom: 0.5em;
    font-style: italic;
}
.font_bleu {
    color: #00ADB5;
}

/* decale les morceaux 'categories' pour les centrer avec le logo*/
.navbar_gap {
    padding-top: 2em;
}
.searching{
    vertical-align: top;
}

/* taille image footer */
@media(max-width:991.98px){
    #logobot {
        width: 10em;
        height:10em;
        margin-left: 5%;
    }
}

.logo_gap {
    padding-top: 2em;
}


@media(max-width:991.98px){
    #logomarkup{
        display:none;
    }

}

.bg_white {
    background-color: white;
}
.btn_markup.btn-outline-secondary
{
    border-style: #00ADB5;
    color: black;
    font-family: 'PoliceTitre';
    background-color: white;
    border: 3px #00ADB5 outset;
}

.btn_markup {
    margin-left: 1.5em;
}

.btn_minus, .btn_plus {
    color: black;
    font-family: 'PoliceTitre';
}



body {
    background-color:white;
}

.emilie {
    padding-left: 10em;
}



